/* src/index.css */

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* นำเข้าฟอนต์ของคุณ */
@font-face {
  font-family: 'MyCustomFont';
  src: url('web-font/Sarabun-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('web-font/Sarabun-Light.ttf') format('truetype');
    font-weight: 300; /* font-light ใน Tailwind ใช้ weight 300 */
    font-style: normal;
  }

/* กำหนดฟอนต์ให้กับทุกหน้า */
body {
  font-family: 'MyCustomFont', sans-serif;
}
