/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* นำเข้าฟอนต์ของคุณ */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/web-font/Sarabun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('/web-font/Sarabun-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* กำหนดฟอนต์ให้กับทุกหน้า */
body {
  font-family: 'MyCustomFont', sans-serif;
  line-height: 1.5;  /* ป้องกันสระตก */
  letter-spacing: 0.03em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* ซ่อน scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
